telethon
setuptools
wheel
aiofiles
aiohttp
beautifulsoup4
cairosvg
cfscrape
ShazamAPI
coffeehouse==2.2.4
colour
covid
cowpy
cryptg
csvfaker
DateTime
dataclasses
fontTools
python-dotenv
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0-rc1
gsearch
gtts
hachoir
heroku3
html-telegraph-poster
humanize
jotquote
justwatch
kwot
lottie
lxml
lyricsgenius
nekos.py
patool
Pillow
prettytable
programmingquotes
psutil
psycopg2
PyDictionary
pyfiglet
PyGithub
pygments
pylast
PyLyrics
pymediainfo
pySmartDL
python-barcode
pytuneteller
pytz
qrcode
regex
requests
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy==1.3.23
telegraph
telethon-tgcrypto
tswift
validators
vcsi
wand
wikipedia
youtube_dl
youtube-search-python==1.4.6
